{% extends 'layout.html' %}

{% block title %}Редактирование рецепта{% endblock %}

{% block content %}
  <h1 class="ui header">
    <span class="ui big text">Редактирование рецепта</span>
  </h1>

  <form action="{% url 'recipe-detail' pk=recipe.pk %}"
        method="POST"
        class="ui form segment"
        enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" name="_method" value="PUT">

    {% for field in recipe_form.visible_fields %}
      <div class="field">
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field }}
        {{ field.help_text }}
      </div>
    {% endfor %}

    <div class="ui divider"></div>
    <input type="submit" value="Сохранить" class="ui button">
  </form>
{% endblock %}
