{% extends 'layout.html' %}

{% block title %}Рецепты{% endblock %}

{% block content %}
  <h1 class="ui header">
    <span class="ui big text">Рецепты</span>
  </h1>

  <div class="ui pagination menu">
    {% if recipes.has_previous %}
      <a class="item" href="?page={{ recipes.previous_page_number }}">
        <i class="angle left icon"></i>
      </a>
    {% endif %}

    {% for p in recipes.paginator.page_range %}
      {% if recipes.number != p %}
        <a class="item" href="?page={{ p }}">{{ p }}</a>
      {% else %}
        <div class="disabled item">{{ p }}</div>
      {% endif %}
    {% endfor %}

    {% if recipes.has_next %}
      <a class="item" href="?page={{ recipes.next_page_number }}">
        <i class="angle right icon"></i>
      </a>
    {% endif %}
  </div>

  <table class='ui large celled striped selectable table'>
    <thead>
      <tr>
        <th class="four wide">Рецепт</th>
        <th>Описание</th>
        <th class="collapsing">Варка</th>
        <th class="collapsing"></th>
      </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
      <tr>
        <td>
          <a class="ui image header" href="{% url 'recipe-detail' pk=recipe.pk %}">
            <img class="ui mini rounded image" src="{{ recipe.cover.url }}">
              <div class="content">
                {{ recipe.title }}
                <div class="sub header">
                  <span>IBU: {{ recipe.ibu }}</span>
                  <span>EBC: {{ recipe.ebc }}</span>
                  <span>ALC: {{ recipe.alc }} %</span>
                </div>
            </div>
          </a>
        </td>
        <td>{{ recipe.description }}</td>
        <td>{{ recipe.duration }} ч.</td>
        <td class="selectable"><a href="{% url 'recipe-detail' pk=recipe.pk %}">Открыть</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if user.is_authenticated %}
    <a href="{% url 'recipe-new' %}" class="ui green basic button">Добавить рецепт</a>
  {% endif %}
{% endblock %}
