{% extends 'layout.html' %}

{% block title %}Рецепт{% endblock %}

{% block content %}
  <h1 class="ui header">
    <img src="{{ recipe.cover.url }}" class="ui huge circular image">
    <div class="content">
      <span class="ui big text">{{ recipe.title }}</span>
    </div>
  </h1>

  <div class="ui piled segment">
    <div class="ui four large statistics">
      <div class="statistic">
        <div class="value">{{ recipe.ibu }}</div>
        <div class="label">IBU</div>
      </div>
      <div class="statistic">
        <div class="value">{{ recipe.ebc }}</div>
        <div class="label">EBC</div>
      </div>
      <div class="statistic">
        <div class="value">{{ recipe.alc }}%</div>
        <div class="label">ALC</div>
      </div>
      <div class="statistic">
        <div class="value">{{ recipe.duration }}</div>
        <div class="label">Варка, ч.</div>
      </div>
    </div>
  </div>

  <table class="ui large celled very padded table">
    <tbody>
      <tr>
        <td class="two wide">
          Описание
        </td>
        <td>
          {{ recipe.description }}
        </td>
      </tr>
      <tr>
        <td>
          Рецепт
        </td>
        <td>
          {{ recipe.formula }}
        </td>
      </tr>
    </tbody>
  </table>

  {% if user.is_authenticated and user.pk == recipe.author_id %}
    <a href="{% url 'recipe-edit' pk=recipe.pk %}" class="ui orange basic button">Редактировать рецепт</a>
  {% endif %}
{% endblock %}
