{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
  <h1 class="ui header">Добро пожаловать!</h1>

  <h2 class="ui dividing header">Рецепты на любой вкус ...</h2>

  <div class="ui three large cards">
    {% for recipe in recipes %}
      <a class="card" href="{% url 'recipe-detail' pk=recipe.pk %}">
        <div class="image">
          <img src="{{ recipe.cover.url }}">
        </div>
        <div class="content">
          <div class="header">{{ recipe.title }}</div>
          <div class="meta">
            <span>IBU: {{ recipe.ibu }}</span>
            <span>EBC: {{ recipe.ebc }}</span>
            <span>ALC: {{ recipe.alc }} %</span>
          </div>
          <div class="description">
            {{ recipe.description }}
          </div>
          <div class="meta right aligned">
            варка {{ recipe.duration }} ч.
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
