{% extends "layout.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
  <h1 class="ui centered aligned header"><span class="ui big text">Авторизация</span></h1>

  <div class="ui centered grid">
    <div class="ten wide column">
      <div class="ui segment form">
        <form action="{% url 'sign-in' %}" method="POST">
          {% csrf_token %}

          {% for field in sign_in_form.visible_fields %}
            <div class="field">
              {{ field.label_tag }}
              {{ field.errors }}
              {{ field }}
              {{ field.help_text }}
            </div>
          {% endfor %}

          <div class="ui divider"></div>
          <button class="ui green button" type="submit">Авторизоваться</button>
        </form>
      </div>

      <div class="ui segment">
        <p>Еще не имеете учетной записи? <a href="{% url 'sign-up' %}">Зарегистрируйтесь</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}
